<div class="container">
    <header class="pageHeader">
        <h3><img [src]="icon">TKB&nbsp;lớp</h3>
    </header>

    <div [@fadeInOut]>
        <div>
            <div class="row control-box">
                <div class="col-sm-8">
                    <div class="form-group search-box">
                        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'todoDemo.management.Search' | translate}}"></search-box>
                    </div>
                </div>
            </div>
            <ngx-datatable class="material colored-header sm table-hover" [loadingIndicator]="loadingIndicator" [rows]="rows"
                [rowHeight]="35" [headerHeight]="35" [footerHeight]="35" [columns]="columns" [scrollbarV]="verticalScrollbar"
                [columnMode]="'force'">
            </ngx-datatable>
        </div>
    </div>
</div>