<div class="container">
    <header class="pageHeader">
        <h3><img [src]="icon">Thời&nbsp;khóa&nbsp;biểu</h3>
    </header>

    <div [@fadeInOut]>
        <div>
            <div class="row control-box">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success"><i *ngIf="isSaving" lass='fa fa-circle-o-notch fa-spin'></i>Save</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info">Restore</button>
                    <button type="button" class="btn btn-primary" (click)="getData()">Refresh</button>
                </div>
                <div class="col-sm-1 text">Tổng&nbsp;tiết&nbsp;:</div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" placeholder="Tổng tiết" [(ngModel)]="tongTiet"
                        (keyup.enter)="solve()" [disabled]="isSolving">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger" (click)="solve()" [disabled]="isSolving"><i *ngIf="isSolving"
                            class='fa fa-circle-o-notch fa-spin'></i>Tự&nbsp;xếp&nbsp;TKB</button>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Thứ</th>
                        <th>Tiết\Lớp</th>
                        <th *ngFor="let o of lops">{{o.l}}</th>
                    </tr>
                </thead>
                <tbody *ngFor="let thu of [2,3,4,5,6,7,8]">
                    <tr>
                        <td id="bordertop"></td>
                        <td>1</td>
                        <td *ngFor="let o of lops"><input [(ngModel)]="tkb[thu][1][findL(o.l,lops)]"></td>
                    </tr>
                    <tr>
                        <td id="bordernone"></td>
                        <td>2</td>
                        <td *ngFor="let o of lops"><input [(ngModel)]="tkb[thu][2][findL(o.l,lops)]"></td>
                    </tr>
                    <tr>
                        <td id="bordernone">{{thu}}</td>
                        <td>3</td>
                        <td *ngFor="let o of lops"><input [(ngModel)]="tkb[thu][3][findL(o.l,lops)]"></td>
                    </tr>
                    <tr>
                        <td id="bordernone"></td>
                        <td>4</td>
                        <td *ngFor="let o of lops"><input [(ngModel)]="tkb[thu][4][findL(o.l,lops)]"></td>
                    </tr>
                    <tr>
                        <td id="borderbot"></td>
                        <td>5</td>
                        <td *ngFor="let o of lops"><input [(ngModel)]="tkb[thu][5][findL(o.l,lops)]"></td>
                    </tr>
                </tbody>
            </table>

            <details>
                <summary><img [src]="alert"> Cảnh báo : TKB chưa xếp {{logs.length}} tiết!</summary>
                <p *ngFor="let o of logs">{{o.l+" "+o.mh+" "+o.gv+" : "+o.tiet}}</p>
            </details>
        </div>
    </div>
</div>